# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\159251git\wenjin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
